@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Nunito;
    margin: 0;
}

/* Pricing Container */
.pricing-container {
    display: flex;
    gap: 20px;
}

/* Individual Pricing Cards */
.pricing-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 16.375rem;
    height: 22.688rem;
    position: relative;
}
.pricing-card:nth-child(2) .price,.pricing-card:nth-child(2) .header{
    color:#fff;
}

.header{
    line-height: 0.5rem;
    color: #202842;
}

/* Middle Card Highlight */
.highlight {
    background: #202842;
    color: white;
}

/* Titles and Text */
h2 {
    font-size: 32px;
    margin-bottom: 5px;
    font-weight: 700;
}

.subtext {
    font-size: 16px;
}

.price {
    font-size: 36px;
    font-weight: 400;
    margin: 20px 0;
    color: #202842;
}

/* List Items */
ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    font-size: 16px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap:0.5rem;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    left: 0;
}
/* Buttons */
button {
    background: #1e293b;
    color: white;
    padding: 10px 20px;
    width: 9.75rem;
    height: 2.25rem;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.dark-button {
    background: white;
    color: #1e293b;
}
